@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
}

:root {
  --primary: #2563EB;
  --secondary: #22C55E;
  --accent: #38BDF8;
  --bg: #F8FAFC;
  --text: #0F172A;
}
